
ol,ul{ padding-left: 0;}
input[type=checkbox] {
 width: 16px;
 height: 16px;
}

/*  Utility classes */

.border-r-10{ border-radius: 100px; }

/* Page view style */
.page-top-nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* form  */
.check_box_container{
  padding: 20px;
  user-select: none;
}

.check_box_container input,label{
  cursor: pointer;
  margin-right: 10px;
}



/* Boostrap table custom css */

.action_btn{
    margin:0 5px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s; 
}
.action_btn:hover{ 
    /* transform: rotate(-10deg); */
}
.action_edit_btn{color: green;}
.action_delete_btn{color: red; }
.action_view_btn{
    /* color: blue;  */
    /* transform: rotate(30deg); */
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
}

.table thead tr th {
    font-size: 17px ;
    font-weight: 300;
}


.table>thead>tr>th{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
}

.table>tbody>tr>td{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
    font-size:14px;
    color: #3c4858;
    
}

    


