
ol,ul{ padding-left: 0;}
input[type=checkbox] {
 width: 16px;
 height: 16px;
}

/*  Utility classes */

.border-r-10{ border-radius: 100px; }

/* Page view style */
.page-top-nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* form  */
.check_box_container{
  padding: 20px;
  user-select: none;
}

.check_box_container input,label{
  cursor: pointer;
  margin-right: 10px;
}

.page-item{ cursor: pointer;}

/* Boostrap table custom css */

.action_btn{
    margin:0 5px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s; 
}

.action_edit_btn{color: green;}
.action_delete_btn{color: red; }

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
}

.table thead tr th {
    font-size: 17px ;
    font-weight: 300;
}


.table>thead>tr>th{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
}

.table>tbody>tr>td{
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
    font-size:14px;
    color: #3c4858;
    
}

    


/* side component  */
.side_component_container{
    z-index: 1500;
    position: absolute;
    top:0;left:0;
    width: 100vw;
    height: 100vh;
    background-color: #3c485836;
}
.side_component_container .side_component{
    z-index: 500;
    position: absolute;
    width: 500px;
    height: 100vh;
    top:0px; right: 0px;
    background-color: rgb(255, 255, 255);
    border-left: 3px solid #0d6efd;
    box-shadow: 1px 1px 40px gray;
    padding: 20px;
    overflow-y: auto;
}
@media (max-width:500px){
    .side_component_container .side_component{
        width: 100vw;
    }  
}

/* filter bar */
.filterbar{
    margin:10px 0;
    display: flex;
    justify-content: flex-start;
}
.filterbar_item{
    margin:2px 5px;
}