@import "./base.css";
@import "./bootstrap5.css";
@import "./custom.css";

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&family=Jost:wght@200;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Nunito:wght@200;400;600;900&family=Poppins:wght@100;200;300;500;600;700&family=Roboto:wght@100;300;500;700&display=swap');


*,*::after,*::before{ margin: 0; padding: 0; box-sizing: border-box;}
body{ width: 100vw; font-family: 'Roboto', sans-serif;}

a{ text-decoration: none;}



/* .dashboard-sidebar::-webkit-scrollbar
 {
    display: none;
}
.dashboard-sidebar{
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  } */
/* for crome */
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
background: #000000;
}
::-webkit-scrollbar-thumb {
background: #5797F8;
border-radius: 10px;
}
/* for mozilla */
.dashboard-sidebar{
   
    scrollbar-width: thin;
    scrollbar-color: #5797F8 black;
}